.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 40px;
}
.main {
  display: flex;
  justify-content: center;
  gap: 40px;
}
